// rendered by noctalia into ~/.config/niri/glow.kdl on every theme change
layout {
    shadow {
        color          "{{colors.primary.default.hex}}ff"
        inactive-color "{{colors.primary.default.hex}}26"
    }
}
