input {
    keyboard {
        xkb {
            options "compose:ralt"
        }
        numlock
    }

    mouse {
        accel-profile "flat"
    }
}

gestures {
    hot-corners {
        off
    }
}

clipboard {
    disable-primary
}

cursor {
    xcursor-theme "Adwaita"
    xcursor-size 24

    hide-when-typing
    hide-after-inactive-ms 5000
}
