layout {

    focus-ring {
        active-color   "#67ade4"
        inactive-color "#0d2130"
        urgent-color   "#fd4663"
    }

    border {
        active-color   "#67ade4"
        inactive-color "#0d2130"
        urgent-color   "#fd4663"
    }


    tab-indicator {
        active-color   "#67ade4"
        inactive-color "#145385"
        urgent-color   "#fd4663"
    }

    insert-hint {
        color "#67ade480"
    }
}

recent-windows {
    highlight {
        active-color "#67ade4"
        urgent-color "#fd4663"
    }
}
