layout {

    focus-ring {
        active-color   "#e48867"
        inactive-color "#291914"
        urgent-color   "#ba8051"
    }

    border {
        active-color   "#e48867"
        inactive-color "#291914"
        urgent-color   "#ba8051"
    }


    tab-indicator {
        active-color   "#e48867"
        inactive-color "#853114"
        urgent-color   "#ba8051"
    }

    insert-hint {
        color "#e4886780"
    }
}

recent-windows {
    highlight {
        active-color "#e48867"
        urgent-color "#ba8051"
    }
}
