layout {

    focus-ring {
        active-color   "#ec5f68"
        inactive-color "#291415"
        urgent-color   "#cb1823"
    }

    border {
        active-color   "#ec5f68"
        inactive-color "#291415"
        urgent-color   "#cb1823"
    }


    tab-indicator {
        active-color   "#ec5f68"
        inactive-color "#8b0e16"
        urgent-color   "#cb1823"
    }

    insert-hint {
        color "#ec5f6880"
    }
}

recent-windows {
    highlight {
        active-color "#ec5f68"
        urgent-color "#cb1823"
    }
}
