screenshot-path "~/Pictures/Screenshots/screenshot_%Y-%m-%d-%H-%M-%S.png"

prefer-no-csd

hotkey-overlay {
    skip-at-startup
    hide-not-bound
}

switch-events {
    lid-close {
        spawn "noctalia" "msg" "session" "lock-and-suspend";
    }
}

overview {
    workspace-shadow {
        softness 40
        spread   10
        offset   x=0 y=10
        color "#00000050"
    }
}

workspace "1"
workspace "2"

debug {
    // Works around Discord/Vesktop stealing focus from a stale
    // Noctalia notification's xdg-activation serial.
    honor-xdg-activation-with-invalid-serial
}
